html {
    --xbasis-button-border-radius:3px;
}

.stretch, body, html, .BBjTopLevelWindow, .BBjWindowManagerDesktop{
    height: 100% !important;
	min-height: 100% !important;
}



basis-button[type='default']::part(button) {
    background-color: var(--bbj-color-success-70);
    color: var(--bbj-color-white);
}


.tbar {
    background-color:#293237;
    height:35px;
    display:flex;
    padding-top:4px;
    justify-content: flex-start;
}


.tbarleft {
    left:10px;
    position:absolute;
}

.tbarright {
    right:10px;
    position:absolute;
}


.tbn {
    color:white;
    float: right;
    margin-left:2px;    
}

.tbn:hover {
    background-color: var(--bbj-color-primary-70);
}



.tilelabel {
    font-family:Nunito, sans-serif;
    font-size:18px;
    font-style:normal;
    font-weight:600;      
}

.tileselected {
    background-color: var(--bbj-color-primary-70);
}

.fullheight,
.fullheight > div,
.fullheight > div > div 
{
    height:100%;
}
